{% extends 'base.html' %}

{% block head%}
<title>Task Master</title>

{% endblock %}

{% block body%}
    <h1>Task master</h1>

    <form action="" method="post"> {% csrf_token %}

        <table>
            <tr>
                <th>Task</th>
                <th>Date</th>
                <th>Description</th>
                <th>Importance</th>
            </tr>
            {% for task in tasks %}
            <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.date_created }}</td>
                <td>{{  task.description }}</td>
                <td> {{ task.importance }}</td>
                <td>
                    <a href="/details/{{ task.id }}">Details</a>
                    <br>
                    <a href="/update/{{ task.id }}">Update</a>
                    <br>
                    <a href="/delete/{{ task.id }}">Delete></a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <h2> Add new task </h2>
        <a href="/add/">Add</a>
        <p>number of tasks: {{ task_counter }}</p>

    </form>


     {% include 'pagination.html' with page=tasks %}

{% endblock %}


